@import url(components/card.css);
@import url(components/button.css);
@import url(components/header.css);
@import url(components/navigation.css);
@import url(components/profile.css);
@import url(components/form.css);
@import url(global.css);

body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(assets/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;

}

body.dark{
    background-color: rgb(0, 0, 0);
    background-image: none;
}