@import url(components/card.css);
@import url(components/button.css);
@import url(components/header.css);
@import url(components/navigation.css);
@import url(global.css);

.app-name{
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 2px lightblue;
  border-bottom: 2px solid black;
  padding: 1rem;
}