.bookmark, .bookmark2{
    position: absolute;
    top: -1rem;
    right: -0.1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

/* .bookmark:focus .img{
    filter: opacity(0.5) drop-shadow(0 0 0 red);
} */

.bookmark, .bookmark2, .img{
    width: 4vh;
    height: 4vh;
}
.bookmark img {
  content: url("../assets/bookmark.png");
}

.bookmark.active img {
  content: url("../assets/bookmarkActive.png");
}

.question,.show-answer{
  margin: 2rem 0 1rem;
}
.show-answer{
    background:#eabd5c;
    color: #1f2933;
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: 600;
    transition: background-color 0.25s ease, box-shadow 0.25 ease;
    cursor: pointer;
}
.show-answer:hover{
    background: #d4af37;
    box-shadow: 0 6px 18px #00000073;
}