.bookmark{
    position: absolute;
    top: -0.5rem;
    right: -0.1rem;
    border-radius: 5px;
}

.bookmark:focus{
    background-color: #0000007c;
}

.bookmark .img{
    width: 3vh;
    height: 3vh;
}

.question,.show-answer{
  margin: 2rem 0 1rem;
}
.show-answer{
    background:#eabd5c;
    color: #1f2933;
    border-radius: 10px;
    padding: 0.5rem;
    font-weight: 600;
    transition: background-color 0.25s ease, box-shadow 0.25 ease;
}
.show-answer:hover{
    background: #d4af37;
    box-shadow: 0 6px 18px #00000073;
}