*{
    box-sizing: border-box;
}

.card{
    position: relative;
    border: 3px solid rgba(212, 175, 55, 0.4);
    border-radius: 5px;
    max-width: 520px;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto 2rem auto;
    max-width: 520px;
    background-color: rgba(255, 255, 255, 0.949);
    box-shadow: 0 20px 40px #00000059;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.card:hover{
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.723);
    border-color: rgba(212, 175, 55, 0.928);
}
.card h2{
    border-bottom: 2px solid rgba(212, 175, 55, 0.6);
    padding-bottom: 1em;
}
.card p{
    color: #374151;
}

.tags{
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
}
