*{
    box-sizing: border-box;
}

.card{
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 520px;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto 2rem auto;
    max-width: 520px;
    background-color: #e3edf9;
}

.bookmark{
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.bookmark .img{
    width: 5vh;
    height: 5vh;
}

.question,.show-answer{
  margin: 2rem 0 1rem;
}
.show-answer{
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
}

.tags{
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
}
