.navbar {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #d4af37;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.nav-link.active {
  background-color: #0014;
}

.icon {
  width: 3vh;
  height: 3vh;
}