.navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.64);
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #d4af37;
}
.icon {
  width: 3vh;
  height: 3vh;
}
