.navbar {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  padding: 0;
  border-top: 2px solid #d4af37;
}

.nav-link {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav-link.active {
  background-color: #0014;
}

.icon {
  width: 30px;
  height: 30px;
}