main{
    max-width: 420px;
    margin: 0 auto;
   text-align: center;
   padding: 1rem; 
}

.prof{
    background: #f9fafb;
    border-radius: 16px;
    margin: 1.5rem 0;
    padding: 1rem;
    border: 3px solid #d4af37ed;
}

.profile_img{
    border-radius: 16px;
}

.profile_stats{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.stat{
    border: 3px solid #d4af37ed;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
}

.number{
    font-weight: bold;
}

.settings{
    margin-top: 2rem;
    text-align: left;
    padding: 0 1rem;
    background: #f9fafb;
    border-radius: 16px;
    padding: 1rem;
    margin-top: 1rem;
    border: 3px solid #d4af37ed;
}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.switch{
    position: relative;
    width: 50px;
    height: 25px;
    display: inline-block;
}

.switch input{
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.slider{
    position: absolute;
    inset: 0;
    background: #ccc;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.slider::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    top: 3px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked+.slider {
    background: #444;
}

.switch input:checked+.slider::before{
    transform: translateX(24px);
}
